[submodule "contrib/miniupnp"]
	path = contrib/miniupnp
	url = https://github.com/miniupnp/miniupnp
[submodule "src/gui/qt-daemon/layout"]
	path = src/gui/qt-daemon/layout
	url = https://github.com/evolution-project/evox_ui.git
	branch = main
